Question1: a,b,d
Question2: False
Question3: False
Question4: d 
Question5: b
Question6: b
Qestion7: a,b
Question8: b
Question11 a. ["Feb", "Apr", "Mar"]

     b. ["Mar", "May", "Jun", "Jul", "Aug", "Jan"]

      
     c.  ["Jun", "Jul", "Aug", "Jan"]

     d.  ["Apr" , "May", "Jul", "Jan"]


     e. ["Apr","Mar", "May", "Jun", "Jul", "Aug", "Jan"]


     f.  ['Apr', 'Mar', 'May', 'Jun', 'Jul', 'Aug']


     g.  ['Jan','Jul', 'May','Apr']


     h.  ['Feb','Apr','Mar','May','Jun']   
Question12: 3)
Question13: 1)
Qestion14: 1)
Question15: a. bool
  
     b. string

     c. integer

     d. float 
Question16: 2)
Question17: 4)
Question18: 1) 0

     2) 2.0

     3) 2

     4) 2

In [86]:
#Question19:a
x = [[4,1,1],[5,9,0]]
for i in range(0,2):
    for j in range(0,3):
        print(x[i][j])

4
1
1
5
9
0

In [34]:
#Question19:b
x = [[4,1,1],[5,9,0]]
for i in range(2):
    for j in range(3):
        print(x[i][j], end='\t')

4	1	1	5	9	0

In [81]:
#Question19:c
x = [[4,1,1],[5,9,0]]
for i in range(2):
    for j in range(3):
        print(x[i][j],end='\t')
    print('\n')

4	1	1

5	9	0

In [85]:
#Question19:d
x = [[4,1,1],[5,9,0]]
for i in range(3):
    for j in range(2):
        print(x[j][i],end='\t')
    print('\n')

4	5

1	9

1	0

In [93]:
#Question20:
q = [10.62, 16.14, 6.45, 17.11]
for j,z in enumerate (q): 
     print( 'Item' + str( j ) +  ' -' , str ( z ))

Item0 - 10.62
Item1 - 16.14
Item2 - 6.45
Item3 - 17.11

Question20: 3)

Question21: b)

Question22: a)

Question23: False, False, True

In [98]:
#Question24:
def avg ( x , y , z = 50 ): 
    adding = x + y + z 
    avg_value = adding / 3 
    return avg_value 
y = avg ( x = 5 , y = 9 , z = 20 ) 
print(y)

11.333333333333334

In [119]:
#Question25:
# It will give error because arguments are passed to function refer to their position
# optional values have * which means they can have any number of arguments 
# while name is a required argument and null will be passed to it so we will get error
def avg ( name, *opt_values): 
# If you do not know how many arguments that will be passed into your function, 
#add a * before the parameter name in the function definition.
# a small correction was made positional parameters are defined first followed by optional arguments
    avg_value = sum (opt_values) / len(opt_values)
    print('Name is: ' + name + ' Marks: ' + str(avg_value))
    
avg ('Ali', 5 , 9 , 20, 34, 87, 112)

Name is: Ali Marks: 44.5

In [123]:
#Question26:
def display_result(winner, score, **other_info):
    print("The winner was " + winner) 
    print("The score was " + score) 
display_result(winner="Manchester", score="1-0", overtime ="yes", injuries="none")

The winner was Manchester
The score was 1-0

In [125]:
#Question26:
def display_result(winner, score, *other_info):
    print("The winner was " + winner) 
    print("The score was " + score) 
display_result("Manchester", "1-0", "yes", "none")

The winner was Manchester
The score was 1-0

In [127]:
#Question27:
#Error becoz positional required arguments is defined after keyword argument other_info
#def display_result(winner, **other_info, score):
def display_result(winner, score, **other_info): 
    print("The winner was " + winner)
    print("The score was " + score)
display_result(winner="Manchester", overtime ="yes", injuries="none" , score="1-0" )

The winner was Manchester
The score was 1-0

In [129]:
#Question28:
X=123
print("%06d"%X) # 6 digit integr
#Answer is b

000123

In [130]:
#Question29:
x=22.19
print("%5.2f"%x) # 2 digit aftr decimal

22.19

In [131]:
#Question30:
'{0:f}, {1:2f}, {2:05.2f}'.format(1.23456, 1.23456, 1.23456)

'1.234560, 1.234560, 01.23'

In [12]:
#Question31:
i = 1 
while False: #False will never work
#if we change loop to true then infnite loop will start as
    '''
    1
    3
    5
    7
    '''
    if i%2 == 0: 
        break 
    print(i) 
    i += 2

In [14]:
#Question32:
x = "abcdef" 
i = "a" 
while i in x: 
    x = x[:-1] 
    print(i, end = " ") 
#for everyloop end="" means space will be added to each output x =abcdef a x=abcdef a a same for 6 iteration

a a a a a a

In [18]:
x = "abcdef" 
i = "a" 
while i in x: 
    x = x[:-1] 
    print(x, end = " ")

abcde abcd abc ab a

In [20]:
#Question33
for i in ''.join(reversed(list('abcd'))):
    print(i)
#reversed(list('abcd')) will give dcba . join will pick values one by one and show as dcba

d
c
b
a

In [ ]:
#Question34:
for i in range(10): # in loop i start from zero to 9
    if i == 5:      # when loop start condition check if value of i is equal to 5 then over loop is break
        break       # first we have 0 so zero is print and loop is continue till we have 5 in i 
    else:         
        print(i)          
# loop is break when i have 5 and they will print 0 1 2 3 4  and outside the loop we have print("here") so print here after 4
print("Here")

In [21]:
#Question 35
y = 6
z = lambda x: x * y  
#lambda argument(s): expression
print(z(8))

48

In [20]:
# Question 36
i=0
def change(i):
    i=i+1
    return i
change(1)
print(i)
#Output is 0 becouse parameter pass to the function is i and we difine i valuse as zero
#so i value in memory is zero i define as value wo difine

0

In [37]:
#Question 40
def change(one,*two):
    print(type(two))
    print(two)
change(1,2,3,4)
#Argument 1 is passed to one as positional argument while rest 2, 3, 4 are passed to two as tuple hence we getting
# (2, 3, 4) when printing 2

<class 'tuple'>
(2, 3, 4)

In [38]:
#Question:41
def find(a, **b):
    print(type(b))
    print(b)
find('letters',A='1',B='2')
#how many keyword arguments that will be passed into your function, 
#add two asterix: ** before the parameter name in the function definition
#so here in b argument,  A and B are passed  as keyword arguments in form of dictionary hence the output

<class 'dict'>
{'A': '1', 'B': '2'}

In [28]:
# Question:42
def foo(i, x=[]):
    x.append(i)
    return x
for i in range(3):
    print(foo(i))
#for loop,i is appended with each iteration to list x in fucntion foo i = 0 x = [0] i = 1 x = [0, 1] i = 2 x = [0, 1, 2]

[0]
[0, 1]
[0, 1, 2]

In [29]:
#Question:43
(3*(1+2)**2-(2**2)*3)
#solving paranthesis first (3*3**2-4*3)
#solving exponent (3*9-4*3) 
#solving multiplication (27-12) 
#solving Subtraction (15) open paranthesis 15 result

15

In [30]:
#Question44:
import math # to import math library
x = -3.67
x = math.fabs(x)
math.ceil(x)

4

In [31]:
#Question44:
import math # to import math library
x = -3.67
x = math.fabs(x)
math.floor(x)

3

In [33]:
#Question45:
import random
random.randint(5, 11) # randint(start, end)

10

In [34]:
#Question45:
random.randrange(5, 12, 1) # random.randrange(start, stop[, step])

11

In [21]:
#Question46:
marks = int(input('Enter your marks? '))
if marks >= 90:
    print('Grade A')
elif marks > 80:
    print('Grade B')
elif marks > 70:
    print('Grade C')
elif marks > 60:
    print('Grade D')
else:
    print('Grade E')

Enter your marks? 5
Grade E